<!DOCTYPE html>
<html lang="en">
    <head>

        <title>Prescribe</title>
        <link rel="icon" href="{{url_for('static', filename='images/PrescribeLogo.png')}}">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
        <link rel="stylesheet" href="{{url_for('static', filename='css/navstyle.css')}}">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand"><img src="{{url_for('static', filename='images/PrescribeLogo.png')}}"
                                                 class="img-rounded" alt="PrescribeLogo" width="50" height="25"></a>
                </div>
                <div class="collapse navbar-collapse" id="myNavbar">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="/">Home</a></li>
                        <li><a href="/about/">About</a></li>
                    </ul>
                    {% if not session['name'] %}
                    <ul class="nav navbar-nav navbar-right">
                                <li><a href="/login/"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                    </ul>
                    {% else %}
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown" id="menuLogin">
                            <a class="dropdown-toggle" href="#" data-toggle="dropdown" id="navLogin">
                                Welcome, {{session['name']}}!
                            </a>
                              <ul class="dropdown-menu">
                                  <li><a href="/show-saved/">View Saved Artists</a></li>
                                  <li><a href="/logout/">Log Out</a></li>
                              </ul>
                        </li>
                    </ul>
                    {% endif %}
                </div>
            </div>
        </nav>

    </head>

{% block body %}{% endblock %}
</html>
