{% extends "header.html" %}
{% block body %}
<body>
    <div class="container-fluid text-center">
        <div class="row content">
            <div class="col-sm-2 sidenav"></div>
            <div class="col-sm-8 text-left">
                <h1>Prescribe</h1>
                <hr>
                <div class="form-group" id="search_div" style="display: initial">
                    <form role="form" action="/show-results/" method="POST">
                        <label>Search for New Bands</label>
                        <input type="text" class="form-control" placeholder="Enter an Artist or Band" id="search"
                               name="artistSearch">
                        {% if artist_not_found %}
                        <div class="alert alert-danger">
                            <strong>Bummer...</strong>
                            Looks like an artist by that name doesn't exist yet.
                        </div>
                        {% endif %}
                        <button type="submit" id="searchbutton" class="btn btn-default">Search</button>
                    </form>
                </div>
            </div>
		 </div>
    </div>
</body>
{% endblock %}
